@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
<a class="btn btn-success" style="max-height:40px" asp-controller="Accounts" asp-action="Login">
    <i style="font-size:15px" class="fa">&#xf2f6;</i>  Log in
</a>
    <span style="padding: 5px;"></span>

    <a class="btn btn-primary" style="max-height:40px" asp-controller="Accounts" asp-action="Register">
        <i style="font-size:12px" class="fa">&#xf0fe;</i>  Register
    </a>
}
else
{

    @*User profile section*@
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown"
                aria-expanded="false">
            <i class="bi bi-person-badge"></i> Hello @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Accounts" asp-action="Users">
                        <i style="font-size:12px" class="fa">&#xf406;</i>  Users
                    </a>
                </li>
            }
        </ul>
    </div>
    <span style="padding: 5px;"></span>
    <form asp-controller="Accounts" asp-action="Logout">
        <button class="btn btn-danger my-2 my-sm-0">
            <i style="font-size:12px" class="fa">&#xf2f5;</i>  Log out
        </button>
    </form>
}