@model IEnumerable<FPTBook.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>